BasedOnStyle: GNU
Standard: Latest
IndentWidth: 4
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpacesInContainerLiterals: false
AccessModifierOffset: -4
SpaceBeforeParens: ControlStatements
ColumnLimit: 0
BreakBeforeBraces: Allman
